<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Dear,</h1>
    <p>
      Admin changed your Parcel Current Sttaus: <%= @parcel.status %> and Percel Number : <%= @parcel.parcel_number %> <br>
      Sender: <%= @sender.name %><br>
      Reciever: <%= @receiver.name %><br>
    </p>
    
    <p>Thanks & Regards, <br>
      Utilizecore
    </p>
  </body>
</html>