<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>
      Your account successfully created.
      Email :- <%= @user.email %> <br>
      Password :- <%= @password %>
     
    </p>
    
    <p>Thanks & Regards, <br>
      Utilizecore
    </p>
  </body>
</html>